<head>
  <meta charset="UTF-8">
  <title>Video Chat</title>
  <style>
    #welcome{
      display:inline-block;
      position:absolute; 
      top:0;
      bottom:500px;
      left:100px;
      right:0;
      width:600px;
      height:100px;
      margin:auto;
    }   
 
    #newRoom{
      display:inline-block;
      position:absolute; 
      top:0;
      bottom:200px;
      left:0;
      right:0;
      width:60%;
      height:30%;
      margin:auto;
      background-color:white;
      opacity:0.8;
    }

    .field input[type=text] {
      color: black;
      font-weight: bold;
      font-size: 24px;
      padding: 10px;
      border: 2px solid black;
      border-radius:2px;
      width:60%;
      height:20%;
    }

    .field input[type=submit] {
      color: black;
      font-weight: bold;
      font-size: 24px;
      padding: 10px;
      border: 2px solid black;
      border-radius:2px;
      width:30%;
      height:20%;
    }

    #partyRoom{
      display:inline-block;
      position:absolute; 
      top:200px;
      bottom:0;
      left:0;
      right:30%;
      width:25%;
      height:30%;
      margin:auto;
      background-color:white;
      opacity:0.8
    }
  
    #extensions{
      display:inline-block;
      position:absolute;
      top:200px;
      bottom:0;
      left:30%;
      right:0;
      width:25%;
      height:30%;
      margin:auto;
      background-color:white;
      opacity:0.8;
    }
  </style>
</head>

<body>
  <div id="welcome">
    <h1><font color="black" size="7">Welcome to VCHAT</font><h1>
  </div>
  <div id="newRoom">
    <% if notice != nil %>
      <p id="notice", align="center"><%= notice.html_safe %></p>
    <% end %>
    <font size="6">New party room</font><br>
    <%= form_for(@new_room, :html => {:class => 'field'}) do |f| %>
      
        <font size="5">Party Name: </font><br><%= f.text_field :name, :placeholder => "Enter a room name" %>
        <%= f.submit "Create", :class => 'btn-primary' %>
     
    <% end %>
  </div>
  <br>
  <div id="partyRoom">
    <font size="5">Existing party rooms</font><br><br>
    <% if @rooms != nil %>
      <% @count=0 %>
      <% @rooms.each do |room| %>
        <li style="float:left;"><font size="3"><%= link_to h(room.name), :action => 'party', :id => room %></font></li>
        <% @count += 1 %>
      <% end %>
    <% end %>
    <% if @count == 0 %> 
      <p style="text-align:center;"><br><br><font size="5">NO ROOM</font></p>
    <% end %>
  </div>
  <div id='extensions'>
    <font size="5">Download Extensions For Screen Share</font><br>
    <li>
      Extension for Chrome <%= link_to "here", {:controller =>"rooms", :action => "downloadChromeExtension"} %>
    </li>
    <br>
    <li>
      Extension for Firefox <%= link_to "here", {:controller =>"rooms", :action => "downloadChromeExtension"} %>
    </li>
  </div>
</body>
