<head>
  <meta charset="UTF-8">
  <title>Video Chat</title>
  <style>
    #welcome{
      position:relative; 
      top:0;
      bottom:0;
      left:0;
      right:0;
      width:100%;
      margin:auto;
      font-size: 10vh;
    }   
 
    #newRoom{      
      position:relative; 
      top:0;
      bottom:0;
      left:0;
      right:0;
      width:60%;
      margin:auto;
      background-color:white;
      opacity:0.8;
      font-size: 5vh;
    }

    .field input[type=text] {
      color: black;
      font-weight: bold;
      font-size: 24px;
      padding: 10px;
      border: 2px solid black;
      border-radius:2px;
      width:60%;
      height:20%;
      font-size: 5vh;
    }

    .field input[type=submit] {
      color: black;
      font-weight: bold;
      font-size: 24px;
      padding: 10px;
      border: 2px solid black;
      border-radius:2px;
      width:30%;
      height:20%;
      font-size: 5vh;
    }

    #partyRoom{
      display:inline-block;
      position:relative; 
      top:0;
      bottom:0;
      left:20%;
      right:0;
      width:25%;
      height:30%;
      margin:auto;
      background-color:white;
      opacity:0.8;
      font-size: 3vh;
    }
  
    #extensions{
      display:inline-block;
      position:relative;
      top:0;
      bottom:0;
      left:30%;
      right:0;
      width:25%;
      height:30%;
      margin:auto;
      background-color:white;
      opacity:0.8;
      font-size: 3vh;
    }
  </style>
</head>

<body>
  <br><br><br>
  <div id="welcome">
    <p align='center'>Welcome to VCHAT<p>
  </div>
  <br><br><br>
  <div id="newRoom">
    <br><p align="center" style="font-size: 8vh;">New party room</p><br>
    <% if notice != nil %>
      <p id="notice", align="center"><%= notice.html_safe %></p>
    <% end %>
    <%= form_for(@new_room, :html => {:class => 'field'}) do |f| %>
      
        <p>Party Name: <br><%= f.text_field :name, :placeholder => "Enter a room name" %>
        <%= f.submit "Create", :class => 'btn-primary' %>
        </p>
     
    <% end %>
    <br>
  </div>

  <br>
  <div id="partyRoom" align="center">
    <p align='center' style="font-size: 5vh;">Existing party rooms</p><br><br>
    <% if @rooms != nil %>
      <% @count=0 %>
      <% @rooms.each do |room| %>
        <li>
          <%= link_to h(room.name), :action => 'party', :id => room %> | 
            <%= link_to "Remove", room, method: :delete, data: { confirm: 'Are you sure?', }%>
        </li>
        <% @count += 1 %>
      <% end %>
    <% end %>
    <% if @count == 0 %> 
      NO ROOM
    <% end %>
    <br><br>
  </div>
  <div id='extensions'>
    <p align='center' style="font-size: 5vh;">Download Extensions For Screen Share</p><br>
    <li>
      Extension for Chrome <%= link_to "here", {:controller =>"rooms", :action => "downloadChromeExtension"} %>
    </li>
    <br><br>
  </div>
  <br><br>
</body>
