<head>
  
  <title><%= @room.name %></title>

  <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
  <script>
    var apiKey =  "<%= @apiKey %>";
    var sessionId = "<%= @room.sessionId %>";
    var token = "<%= @tok_token %>";
        
    var session = OT.initSession(apiKey, sessionId);
    var publisher;
    var subscribers = [];
    session.connect(token);
    session.on("sessionConnected", function sessionConnectedHandler(event) {
      publisher = OT.initPublisher('publisher', {width:400, height:300});
      session.publish(publisher);
      //screenshare();

      for (var i = 0; i < event.streams.length; i++) {
        if (event.streams[i].connection.connectionId != session.connection.connectionId) 
        {
          subscribeToStreams(event.streams[i]);
        }
      }
    });
    session.on("sessionDisconnected", function(event){
      alert("The session disconnected. " + event.reason);
    });
    session.on("streamCreated", function streamCreatedHandler(event) {
      for (var i = 0; i < event.streams.length; i++) {
        if (event.streams[i].connection.connectionId != session.connection.connectionId) 
        {
          subscribeToStreams(event.streams[i]);
        }
      }
    });
    session.on("streamDestroyed", function(event){
      for (var i = 0; i < subscribers.length; i++ ){
        if(event.stream.streamId == subscribers[i].streamId){
           subscribers.splice(subscribers[i], 1);
        }
      }
    });

    session.on("connectionCreated", function(event){
      
    });
    session.on("signal", function(event) {
      var p = document.createElement('p');
      var text = document.createTextNode(event.data)
      p.appendChild(text);
      $('#chat').append(p);
    });

    function subscribeToStreams(stream) {
      var div = document.createElement('div');
      div.setAttribute('id', 'stream' + stream.streamId);
      div.style.float = "left";
      $('#videoBox').append(div);
      var subscriber = session.subscribe(stream, div.id, {width:400, height:300});
      subscribers.push(subscriber);
    }

    function screenshare() {
      OT.checkScreenSharingCapability(function(response) {
        if (!response.supported || response.extensionRegistered === false) {
          alert('This browser does not support screen sharing.');
        } else if (response.extensionInstalled === false) {
          alert('Please install the screen sharing extension and load your app over https.');
        } else {
          // Screen sharing is available. Publish the screen.
          var screenSharingPublisher = OT.initPublisher('screen-preview', {videoSource: 'screen'});
          session.publish(screenSharingPublisher, function(error) {
            if (error) {
              alert('Could not share the screen: ' + error.message);
            }
          });
        }
      });
    }

    function resizePublisher() {
      if ($("#textChat").is(":visible")){
        publisher.element.style.width = "300px";
        publisher.element.style.height = "200px";
      }
      else{
        publisher.element.style.width = "400px";
        publisher.element.style.height = "300px";
      }
    }

    function resizeSubscribers(){
        for (var i = 0; i < subscribers.length; i++){
          if ($("#textChat").is(":visible")){
            subscribers[i].element.style.width = "300px";
            subscribers[i].element.style.height = "200px";
          }
          else{
            subscribers[i].element.style.width = "400px";
            subscribers[i].element.style.height = "300px";
          }
        }
    }
    
    function sendSignal(){
      var txt = document.getElementById("text").value;
      if (txt != ""){
        session.signal(
          {
            data:txt
          },
          function(error) {
            if (error) {
              alert("signal error (" + error.code + "): " + error.message);
            } 
            document.getElementById("text").value = "";
          }
        );
      }
    }

    $(document).ready(function(){
      $("#chatButton").click(function(){
        $("#textChat").fadeToggle('slow', function(){
            resizePublisher();
            if (subscribers.length > 0){
              resizeSubscribers();
            }
        });
      });
    });

    function copyToClipboard(text){
      window.prompt("Copy to Clipboard: Ctrl+C,Enter", text)
    }
  </script>

  <style>
    #chatInput {
      position:absolute; 
      top:85%;
      bottom: 0;
      left:0;
      right:0;
      margin:auto;
      width:100%;
      height:10%;
    }
    input[type="text"]
    {
      color: black;
      font-weight: bold;
      font-size: 24px;
      padding: 5px;
      border: 2px solid black;
      border-radius:2px;
      position:absolute;
      top:0;
      bottom: 0;
      left:5px;
      right:0;
      margin:auto;
      width:80%%;
      height:100%;
    }
    button[type="submit"]
    {
      position:absolute;
      top:0;
      bottom:0;
      left:85%;
      right:0;
      margin:auto;
      width:10%%;
      height:100%;
    }
  </style>
</head>

<body>  
  <div id='videoBox', style='display: inline-block; position:absolute; top:50%;bottom: 0;left:0;right:0;width:800px;height:600px;margin:auto;'>
    <div id='publisher', style='float:left'>
    </div>
  </div>
  
  <div id="textChat", style='display:none; position:fixed;right:0px;top:0px;bottom:0px;width:30%;height:100%;background-color:white;'>
    <h1 style="text-align:center;"><b>Text Chat</b></h1>
    <div id="chat" style='position:fixed;right:0;top:10%;bottom:0;width:30%;height:75%;overflow-y:auto;'>
    </div>
    <div id="chatInput">
      <input type="text"  id="text" placeholder= "Write here...">
      <button type="submit" onclick="sendSignal()">Send</button>
    </div>
  </div>i
  <div id="options", style='display: inline-block;position:fixed;left:0px;top:0px;bottom:0px;width:5%;height:100%;background-color:black;opacity:0.9;margin:auto;'>  
    <input type="image" src="<%= asset_path 'copy-link.jpg' %>" alt="submit" width="50px" height="50px" onclick="copyToClipboard('https://bikkun.com/videoChat/party/<%=@room.id%>-<%=@room.name%>')">
    <input id="chatButton" type="image" src= "<%= asset_path 'text.jpg' %>" alt="submit" width="50px" height="50px">
  </div>

</body>
