<head>
  <title><%= @room.name %></title>

  <script src='//static.opentok.com/v2/js/opentok.min.js'></script>

  <script>
    window.apiKey = '<%= @apiKey %>'
    window.sessionId = '<%= @room.sessionId %>'
    window.tok_token = '<%= @tok_token %>'
  </script>
  <script src=<%= asset_path 'party.js.erb' %>></script>
</head>

<body>  
  <div id='videoBox'>
  </div>
  
  <div class="textChat" id="textChat">
    <div class="text-head" id="text-head">
      <h1 style="text-align:center; color:white"><b>Text Chat</b></h1>
    </div>
    <div class="chat" id="chat">
    </div>
    <div class="chatInput" id="chatInput">
      <input class="text" type="text"  id="text" placeholder= "Write here...">
      <button type="submit1" id="submit" class="btn-primary" onclick="sendSignalToAll()">Send</button>
    </div>
  </div>
  <div id="options">  
    <input type="image" title="Copy URL" src="<%= asset_path 'copy-link.jpg' %>" alt="submit" width="100%" height="5%" onclick="copyToClipboard('https://bikkun.com/videoChat/party/<%=@room.id%>-<%=@room.name%>')">
    <input id="chatButton" title="Text Chet" type="image" src= "<%= asset_path 'text.jpg' %>" alt="submit" width="100%" height="5%">
    <input id="chatButton" title="Change to Screen Share" type="image" src= "<%= asset_path 'swap.png' %>" alt="submit" width="100%" height="5%" onclick="screenshare()">
  </div>
  <div id="list">
      <button class="btn-primary" type="submit" id="sendAll" style="width:100%" onclick="showTextChatForAll()">Send to All<br></button>
  </div>
</body>
