<head>
  <title><%= @room.name %></title>
  <script type="text/javascript" src='https://static.opentok.com/v2/js/opentok.min.js'></script>
  <script>
    window.apiKey = '<%= @apiKey %>'
    window.sessionId = '<%= @room.sessionId %>'
    window.tok_token = '<%= @tok_token %>'
  </script>
  <script src= <%= asset_path 'party.js.erb' %>></script>
</head>

<body>  
  <% if notice != nil %>
    <p id="notice", align="center"><%= notice.html_safe %></p>
  <% end %>

  <div id='videoBox'>
  </div>
  
  <div class="textChat" id="textChat">
    <div class="text-head" id="text-head">
      <p style="text-align:center; color:white"><b>Text Chat</b></p>
    </div>
    <div class="chat" id="chat">
    </div>
    <div class="chatInput" id="chatInput">
      <input class="text" type="text"  id="text" placeholder= "Write here...">
      <button type="submit1" id="submit" class="btn-primary" onclick="sendSignalToAll()">Send</button>
    </div>
  </div>

  <div id="options" style='margin:auto'>  
    <input type="image" title="Copy URL" src="<%= asset_path 'copy-link.jpg' %>" alt="submit" width="100%" height="5%" onclick="copyToClipboard('https://bikkun.com/videoChat/party/<%=@room.id%>-<%=@room.name%>')">
    <input id="screenShaeButton" title="Change to Screen Share" type="image" src= "<%= asset_path 'swap.png' %>" alt="submit" width="100%" height="5%" onclick="screenshare()">
    <input id="chatButton" title="Text Chet" type="image" src= "<%= asset_path 'text.jpg' %>" alt="submit" width="100%" height="5%">
    <input type="image" title="Gallery" src="<%= asset_path 'image.png' %>" alt="submit" width="100%" height="5%" onclick="showGallery()">
  </div>

  <div id="list">
      <button class="btn-primary" type="submit" id="sendAll" style="width:100%" onclick="showTextChatForAll()">Send to All<br></button>
  </div>

        
  <div id="paintings">
    <div id="newPainting" class="newPainting">
      <p style="color:black; font-size:6vh"><b>Shared Images:</b></p>
      <button type="button" id="imageReload" class="btn-primary" onclick="sendSignalImage('<%= @room.id  %>')" style='display:inline-block;'>Reload</button>    
        <%= form_for [@room,@painting], :html => {:multipart => true, :style => 'color: white; display:inline-block'}, :remote => true do |f| %>
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Select files...</span>
          <%= f.file_field :image, multiple: true, name: "painting[image]" %>
        </span>
        <% end %>

      <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress">
            <div class="bar" style="width: 0%;">
            </div>
          </div>
        </div>
      </script>
    </div>
    <div style="display:inline-block;" id="showProgressBar"></div>
    <br>
    <div id="gallary">
      <%= render 'paintings/painting' %>
    </div>
  </div>
</body>
