<head>
  <meta charset="UTF-8">
  <title><%= @room.name %></title>

  <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
  <script>
    var apiKey =  "<%= @apiKey %>";
    var sessionId = "<%= @room.sessionId %>";
    var token = "<%= @tok_token %>";
        
    OT.setLogLevel(OT.DEBUG);
    var session = OT.initSession(apiKey, sessionId);
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);
    session.connect(token);

    function sessionConnectedHandler(event) {
      var publisher = OT.initPublisher('publisher', {width:400, height:300});
      session.publish(publisher);
      //screenshare();

      for (var i = 0; i < event.streams.length; i++) {
        if (event.streams[i].connection.connectionId != session.connection.connectionId) 
        {
          subscribeToStreams(event.streams[i]);
        }
      }
    }

    function streamCreatedHandler(event) {
      for (var i = 0; i < event.streams.length; i++) {
        if (event.streams[i].connection.connectionId != session.connection.connectionId) 
        {
          subscribeToStreams(event.streams[i]);
        }
      }
    }

    function subscribeToStreams(stream) {
      var div = document.createElement('div');
      div.setAttribute('id', 'stream' + stream.streamId);
      div.style.float = "left";
      $('#videoBox').append(div);
      session.subscribe(stream, div.id, {width:400, height:300});
    }

    function screenshare() {
      OT.checkScreenSharingCapability(function(response) {
        if (!response.supported || response.extensionRegistered === false) {
          alert('This browser does not support screen sharing.');
        } else if (response.extensionInstalled === false) {
          alert('Please install the screen sharing extension and load your app over https.');
        } else {
          // Screen sharing is available. Publish the screen.
          var screenSharingPublisher = OT.initPublisher('screen-preview', {videoSource: 'screen'});
          session.publish(screenSharingPublisher, function(error) {
            if (error) {
              alert('Could not share the screen: ' + error.message);
            }
          });
        }
      });
    }
  </script>
</head>

<body>
  
  
  <div id="invitation", style="text-align:center;">
    <font size="14">
      Invite your friends! Share the URL of this page<br>
      <font color="red">
      <b>https://bikkun.com/videoChat/party/<%= @room.id %></b>
      </font>
    </font>
  </div>

  <br>
  <div id='videoBox', style='position:absolute; top:200px;left:250px;'>
    <div id='publisher', style='float:left'>
    </div>
  </div>
</body>
